@font-face {
    font-family: 'Oswald';
    src: url("Oswald.woff2") ;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: 'Microsoft YaHei';
    /*font: inherit;*/
    vertical-align: baseline;
}

/* 
                            Language Select Menu
______________________________________________
 */
.lang-select {
    width: 60%;
    float: right;
}
/*
                        CUSTOM BOOTSTRAP THEME 
______________________________________________
*/
.my-container {
    width: 80%;
    background-color: rgba(250,250,250,1);
    margin: auto;
    padding: 2.5% 10% 10% 10%;
}
.container {
    width:80%;
}

.panel{
    border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-color: rgba(200, 200, 200, 0.8);
    box-shadow: 1px 1px 1px rgba(200,200,200, 0.8);
    -o-box-shadow: 1px 1px 1px rgba(200,200,200, 0.8);
    -moz-box-shadow: 1px 1px 1px rgba(200,200,200, 0.8);
    -webkit-box-shadow: 1px 1px 1px rgba(200,200,200, 0.8);
}
.panel-info > .panel-heading {
    background-color: #FFFFFF;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-info > .panel-title {
    outline: 0;
    font-weight: bold;
}

.panel-info > .panel-collapse {
    border-color: rgba(200, 200, 200, 0.8);
}
.panel-info>.panel-heading+.panel-collapse .panel-body {
    border-top-color: rgba(200, 200, 200, 0.8);
}

.panel-title > a, .panel-title > a:hover, .panel-title > a:focus {
    text-decoration: none;
    color: rgb(80,80,80);
    outline: none;
}

.post {
    background-color: #FFFFFF;
    padding: 10%;
    width: 110%;
    margin-left: -5%;
    margin-right: 10%;
    border-color: rgba(200, 200, 200, 0.8);
    box-shadow: 1px 1px 1px rgba(200,200,200, 0.8);
    -o-box-shadow: 1px 1px 1px rgba(200,200,200, 0.8);
    -moz-box-shadow: 1px 1px 1px rgba(200,200,200, 0.8);
    -webkit-box-shadow: 1px 1px 1px rgba(200,200,200, 0.8);
}
/*                                  SIDEBAR
 ___________________________________________
 */
#sidebar {
    background-color: #444444;
    width: 10%;
    min-width: 90px;
}
#sidebar li{
    margin: auto;
    width: 100%;
}
#sidebar li a{
	color:#F0F0F0;
}
#sidebar li :hover{
	color:#FFFFFF;
	background-color: rgb(64,154,246);
}
#sidebar li :focus{
    color:#FFFFFF;
    background-color: rgb(246,218,64);
}
/*
                                Blog List
________________________________________________
*/
.list-group {
    border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-color: rgba(200, 200, 200, 0.8);
    box-shadow: 1px 1px 1px rgba(200,200,200, 0.8);
    -o-box-shadow: 1px 1px 1px rgba(200,200,200, 0.8);
    -moz-box-shadow: 1px 1px 1px rgba(200,200,200, 0.8);
    -webkit-box-shadow: 1px 1px 1px rgba(200,200,200, 0.8);
}


/*                                                 CONTACT
__________________________________________________________
*/

.contact{
    background: url(../images/icons_social.png) no-repeat;
    float: left;
    width: 32px;
    height: 32px;
    margin: 5px 0 5px;
    background-color: #3353A0;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    text-align: center center;
} 

.github {
    background-position: 0px 0;
    margin-right: 10px;
}

.twitter {
    background-position: -32px 0;
    margin-right: 10px; 
}

.linkedin {
    background-position: -64px 0;
    margin-right: 10px; 
}

.gmail { 
    background-position: -96px 0; 
     margin-right: 10px;
}

.address {
    background-position: -128px 0;
    margin-right: 10px;
}

.phone {
    background-position: -192px 0;
    margin-right: 10px;
}

.email {
    background-position: -160px 0;
    margin-right: 10px;
}
.cnblog {
    background-position: -300px 0;
    margin-right: 10px
}
.twitter+a, .phone+a, .gmail+a, .linkedin+a, .address+a, .email+a, .github+a, .cnblog+a {
    margin: 10px;
	color:#333333;
}

.twitter:hover, .phone:hover, .gmail:hover, .linkedin:hover, .address:hover, .email:hover, .github:hover, .cnblog:hover {
	width: 32px;
    height: 32px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background-color: #333333;
}

/* 
                    Menu Index Box
__________________________________
*/


#menuIndex {
    box-shadow: 0px 0px 1px 2px #666666; 
    -o-box-shadow: 0px 0px 1px 2px #666666;
    -moz-box-shadow: 0px 0px 1px 2px #666666;
    -webkit-box-shadow: 0px 0px 1px 2px #666666;
    background: #FFFFFF;
    left: 95%;
    position: fixed;
    top: 20px;
    width: 400px;
    transition-property: left, width;
    -moz-transition-property: left, width;
    -o-transition-property: left, width;
    -webkit-transition-property: left, width;
    transition-duration: 0.5s, 0.5s;
    -moz-transition-duration: 0.5s, 0.5s;
    -o-transition-duration: 0.5s, 0.5s;
    -webkit-transition-duration: 0.5s, 0.5s;
}

#menuIndex:hover{
    left: 85%;
}

#menuIndex ul ul{
    padding-left: 20px;
}

#menuIndex ul, #menuIndex li {
    width: 400px;
}
#menuIndex ul li a:hover, #menuIndex ul li.on, #menuIndex ul li a:focus{   
    /*width: 3px;*/
    white-space:nowrap;
    overflow: visible;
    transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

#menuIndex ul li a:hover {
    background: rgba(0, 160, 200, 0.5);
}
#menuIndex ul li.on {
    border-left: 3px solid rgba(0, 160, 200, 0.2);
}
#menuIndex ul li a:focus {
    border-left: 3px solid rgba(0, 160, 200, 0.5);
}

#menuIndex ul li a:hover{
    width: 400px;
    color:white;
}

#menuIndex ul li a:focus{
    outline: none;
}
