---
layout: default
---
<div id='Blog'>
  
    <h2>Blos List</h2>
    <hr>
    <div class='list-group'>
    {% for post in paginator.posts %}
        <a class='list-group-item' href='{{ post.url }}'>
            <h3 class='list-group-item-heading'>
                {{ post.title }}
                <small>{{ post.date | date:"%Y-%m-%d" }}</small>
            </h3>
            <hr style='overflow:hidden'>
            <p class="list-group-item-text text-right">--{{ post.description }}</p>
        </a>
    {% endfor %}
    </div>

    <div class='row'>
        <div class='col-md-2 col-md-pull-0'>
            {% if paginator.previous_page %}
                <a role='button' class='btn btn-primary' href='{{ paginator.previous_page_path }}'>PREVIOUS</a>
            {% else %}
                <a disabled="disabled" role='button' class='btn btn-primary'>PREVIOUS</a>
            {% endif %}
        </div>
        <div class='col-md-2 col-md-push-8'>
            {% if paginator.next_page %}
                <a  role='button' class='btn btn-primary' href='{{ paginator.next_page_path }}'><span class="page_number ">{{ paginator.page }}-{{ paginator.total_pages }} </span>NEXT</a>
            {% else %}
                <a disabled="disabled" role='button' class='btn btn-primary'><span class="page_number ">{{ paginator.page }}-{{ paginator.total_pages }} </span>NEXT</a>
            {% endif %}
        </div>
    </div>
</div> 
