<!DOCTYPE html>
<html ng-app="myProfile" >
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <script type="text/javascript" src= "/frameworks/angular.min.js"></script>
    <script type="text/javascript" src= "/frameworks/angular-animate.min.js"></script>
    <script type="text/javascript" src= "/frameworks/angular-route.min.js"></script>
    <script type="text/javascript" src= "/frameworks/angular-touch.min.js"></script>
    <script type="text/javascript" src="/frameworks/ui-bootstrap-tpls-0.13.2.min.js"></script>
    <script type="text/javascript" src="/js/data.js" ></script>
    <script type="text/javascript" src= "/js/app.js"></script>
    <script type="text/javascript" src="/js/services.js"></script>
    <script type="text/javascript" src= "/js/controller.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    {% include google_analytics.html %}
</head>

<body style='background-color:#444444; min-width:900px'>
  <header>
    
  </header>
  <!-- Navigate Bar-->
  <div ng-controller="NavController">
    <ul id='sidebar' class="nav nav-pills nav-stacked affix">
      <li role="presentation" ng-repeat='menu in menus'><a class='text-center' href="#{{menu}}" ng-click="scroll($index)" ng-bind='menu'></a></li>
    </ul>
  </div>

  <div class='cotainer my-container'>    

    {{ content }}

    <hr>
    <footer class='footer'>
      <div class="container">
        <p class="text-muted text-right">By Elcarim 2015</p>
      </div>
    </footer>
  </div>

</body>

</html>
