---
layout: default
---
<!-- <link rel="stylesheet" href="/js/prettify/prettify.css" /> -->
<link rel="stylesheet" href="/js/prettify/tomorrow_theme.css" />
<!-- <link rel="stylesheet" href="/js/prettify/tomorrow-light.css" /> -->
<!-- <script type="text/javascript" src="/js/prettify/prettify.js" ></script> -->
<div id="content" class='container post'>
		<h1><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
		<p>{{ page.date | date:"%Y-%m-%d" }}</p>
		{{ content }}
</div>

<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="http://elcarim5efil.github.io/{{ page.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
	var duoshuoQuery = {short_name:"elcarim5efil"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>
<!-- 多说公共JS代码 end -->


<script src="/frameworks/jquery-1.11.3.js" type="text/javascript"></script>
<script src="/js/autoIndex.js" type="text/javascript"></script>